USE [master]
GO
/****** Object:  Database [ToDoListDB]    Script Date: 2022-08-04 21:22:13 ******/
CREATE DATABASE [ToDoListDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoListDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ToDoListDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDoListDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ToDoListDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoListDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoListDB]
GO
/****** Object:  Table [dbo].[ToDoList]    Script Date: 2022-08-04 21:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoList](
	[Name] [varchar](50) NOT NULL,
	[TodoList_id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [bit] NOT NULL,
	[FK_User_id] [int] NOT NULL,
 CONSTRAINT [PK_ToDoList] PRIMARY KEY CLUSTERED 
(
	[TodoList_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2022-08-04 21:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Role] [varchar](5) NOT NULL,
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[ResetToken] [varchar](200) NULL,
	[ResetTokenExpiration] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ToDoList] ON 

INSERT [dbo].[ToDoList] ([Name], [TodoList_id], [Status], [FK_User_id]) VALUES (N'Susitvarkyti', 1, 1, 1)
INSERT [dbo].[ToDoList] ([Name], [TodoList_id], [Status], [FK_User_id]) VALUES (N'Susitvarkyti2', 2, 1, 1)
SET IDENTITY_INSERT [dbo].[ToDoList] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Email], [Password], [Role], [User_id], [ResetToken], [ResetTokenExpiration]) VALUES (N'123', N'123', N'role1', 1, NULL, NULL)
INSERT [dbo].[User] ([Email], [Password], [Role], [User_id], [ResetToken], [ResetTokenExpiration]) VALUES (N'1234', N'1234', N'role2', 2, N'0FD2CC0AAC97DAB08ADB5CCEE3EE90FEAB4DAD8A4D100B66FEDB0BC9B126F2938BCCB4EC1A3A88CEBAF01821224AE62212C6F31AA7E1FA08ABE09FB9B48C481D', CAST(N'2022-08-04T22:47:33.177' AS DateTime))
INSERT [dbo].[User] ([Email], [Password], [Role], [User_id], [ResetToken], [ResetTokenExpiration]) VALUES (N'12345@gmail.com', N'1234567890', N'role2', 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[ToDoList]  WITH CHECK ADD  CONSTRAINT [FK_User_id] FOREIGN KEY([FK_User_id])
REFERENCES [dbo].[User] ([User_id])
GO
ALTER TABLE [dbo].[ToDoList] CHECK CONSTRAINT [FK_User_id]
GO
USE [master]
GO
